@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  margin: 2em;
  background-color: #f5f2d7;
  color: #333333;
  font-family: 'Gelasio', serif;
  font-weight: 400;
}

header {
  margin-bottom: 1em;
}

a {
  text-decoration: underline;
  color: #212121;
}

a:hover {
  text-decoration-style: dashed;
}

h1  {
  cursor: default;
  margin: 0;
  width: fit-content;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
}